table, td, th, tr{
border: 1px solid black;
padding: 0 5px 0 5px;
}
table {
    width: auto;
    counter-reset: rowNumber;
    margin: auto;
}

table tr td:first-child::before {
    counter-increment: rowNumber;
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

tr .descriptions{
  max-width: 600px;
}
tr .descriptions {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: elipsis;
}
